@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/clear-sans');

body {
    margin: 0;
    padding: 0;
    background: #EDEDED;
    height: 100vh;
}

.FormularioLR {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #FFFFFF;
    border-radius: 10px;
}

.part-superior img {
    width: 60%;
    display: block;
    margin: -95px auto;
}

.Titulo {
    text-align: center;
    padding: 0 0 20px 0;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.5rem;
    color: #000000;
}

.Formulario {
    padding: 0 40px;
    box-sizing: border-box;
}

.Formulario__grupo-input {
    position: relative;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.212);
    margin: 25px 0;
}

.Formulario__input {
    margin-bottom: 5px;
    width: 100%;
    padding: 0 5px;
    height: 25px;
    font-size: 14px;
    border: none;
    background: none;
    outline: none;
}

.Formulario__label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: rgba(0, 0, 0, 0.212);
    transform: translateY(-50%);
    font-size: 13px;
    font-family: 'Clear Sans', sans-serif;
    pointer-events: none;
    transition: .5s;
}

.Formulario__grupo-activo .Formulario__label {
    top: -5px;
}

.Formulario__input:focus~.Formulario__label {
    top: -5px;
}

.icono {
    position: absolute;
    left: -20px;
    line-height: 30px;
}

.Formulario__validacion-estado {
    position: absolute;
    right: 4px;
    top: 2px;
    z-index: 100;
    opacity: 0;
}

.Formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: -20px;
    display: none;
}

.Formulario__input-error-activo {
    display: block;
    left: 50px;
}

.Formulario__checkbox {
    margin-top: 14px;
    cursor: pointer;
}

.Formulario__checkbox:checked {
    accent-color: #0000;
}

.Formulario__label-checkbox {
    font-size: 15px;
    font-family: 'Darker Grotesque', sans-serif;
}

.Pol-priv {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
}

.Formulario__mensaje {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 0px 15px;
    border-radius: 3px;
    display: none;
}

.Formulario__mensaje-activo {
    display: block;
}

.Formulario-botones {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.Formulario_boton {
    padding: 7px 0px 10px 0px;
    width: 90%;
    cursor: pointer;
    border-radius: 1px;
    background: #EDEDED;
    border-color: #000000;
    border-width: 1px;
    font-size: 14px;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 600;
    color: #000000;
    transition: .1s ease all;
}

.Formulario_boton:hover {
    box-shadow: 3px 0px 30px #a09f9f56;
}

.link {
    margin: 15px 0;
    font-family: 'Clear Sans', sans-serif;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.445);
    font-size: 13px;
    display: flex;
}

.Formulario__mensaje-exito {
    font-size: 12px;
    font-family: 'Clear Sans', sans-serif;
    color: #119200;
    display: none;
}

.Formulario__mensaje-exito-activo {
    display: block;
}

.Formulario__grupo-correcto .Formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.Formulario__grupo-incorrecto .Formulario__label {
    color: #bb2929;
}

.Formulario__grupo-incorrecto .Formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}